<div class="bg"></div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <ul class="list-group no-hover" id="messages">
      <li class="list-group-item">
        <%= link_to user_path(@message.user) do %>
          <%= image_tag @message.user.image_url, class: "timeline-image" %>
        <% end %>
        <div class="message-area">
          <div class="message-heading">
            <%= link_to "@#{@message.user.username}", user_path(@message.user) %>
            <% if current_user %>
              <% if current_user.id == @message.user.id %>
                <%= link_to "Delete", message_path(@message), method: :delete, class: "btn btn-outline-danger btn-sm" %>
              <% else %>
                <%= render "shared/follow_buttons", other_user: @message.user %>
              <% end %>
            <% end %>
          </div>
          <p class="single-message"><%= @message.text %></p>
          <span class="text-muted"><%= @message.date %></span>
        </div>
      </li>
    </ul>
  </div>
</div>