<div class="row justify-content-md-center">
  <div class="col-md-4">
    <h2 class="join-message">Edit Your Profile.</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :username, autofocus: true, class: "form-control", autocomplete: "username", placeholder: "Username" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "E-mail" %>
      </div>

      <div class="field">
        <%= f.text_field :image_url, autofocus: true, class: "form-control", autocomplete: "image_url", placeholder: "(Optional) Image URL" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password (keep blank to leave unchanged)" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "New Password Confirm" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes:)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current password" %>
      </div>

      <div class="edit-btn-area">
        <%= f.submit "Edit this user!", class: "btn btn-success" %>
        <%= link_to "Cancel", user_path(current_user), class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
</div>
