<% if current_user %>
<div class="row">
  <aside class="col-lg-3 col-md-12" id="home-aside">
    <div class="card user-card">
      <div>
        <div class="image-wrapper">
          <%= image_tag "warbler-hero", class: "card-hero" %>
        </div>
        <%= link_to user_path(current_user.id), class: "card-link" do %>
          <%= image_tag current_user.image_url, class: "card-image" %>
          <p>@<%= current_user.username %></p>
        <% end %>
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Messages</p>
            <h4>
              <%= link_to current_user.messages.count, user_path(current_user.id), class: "card-link" %>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Following</p>
            <h4>
              <%= link_to current_user.followees.count, following_user_path(current_user.id) %>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Followers</p>
            <h4>
              <%= link_to current_user.followers.count, followers_user_path(current_user.id) %>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <div class="col-lg-6 col-md-12">
    <ul class="list-group" id="messages">
      <% @messages.each do |message| %>
      <li class="list-group-item">
        <%= link_to '', message_path(message.id), class: "message-link" %>
        <%= link_to user_path(message.user.id) do %>
          <%= image_tag message.user.image_url, class: "timeline-image" %>
        <% end %>
        <div class="message-area">
          <%= link_to "@#{message.user.username}", user_path(message.user.id) %>
          <span class="text-muted"><%= message.date %></span>
          <p><%= message.text %></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% else %>
<div class="home-hero">
  <h1>What's Happening?</h1>
  <h4>New to Warbler?</h4>
  <p>Sign up now to get your own personalized timeline!</p>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"%>
</div>
<% end %>